* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* header start */
/* header {
 top: 0;
  left: 0;
  width: 100%;
  padding: 30px 1px 30px 2px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center; 
} */

ul {
  list-style-type: none;

}

li {
  float: left;
}

li a {
  color: black;
  font-size: larger;
  font-weight: 600;

}

.active {
  color: #FF6464;
}

.header {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: end;
  z-index: 10;
}

.header .navigation ul li {
  padding-left: 15px;
}

/* header end */


.container {
  width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-left: auto;
  margin-right: auto;
}

/* body start */
.home {
  position: relative;
  height: 100vh;
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center;
  align-items: center;
}

.content {
  /* max-width: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  color: #21243D;
}

.content p {
  line-height: 25px;
}

.hero-img {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-img img {
  width: 75%;
}

.content h2 {
  font-size: 44px;
}

.content p {
  padding: 10px 0 40px 0;
}

.btn-group {
  color: #fff;
  text-decoration: none;
  padding: 10px 40px;
  background: #FF6464;
  border-radius: 2px;
  font-weight: 500;
  transition: .3s;
  border: none;
  width: 50%;
}

/* post start */
.post {
  background-color: #EDF7FA;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-title {
  display: flex;
  justify-content: space-between;
}

.post-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Recentposts {
  height: 270px;

  background-color: #EDF7FA;

}

/* post end */


.container .post-lable h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container .works-lable {
  padding: 20px 0 20px 0;

}

.column1 {
  width: 49%;
  padding: 15px;
}


/* .box {
  width: 34%;
  padding: 40px;
  margin: 25px;
  background-color: white;
} */

.post-cards .card {
  background-color: white;
  padding: 20px;
  width: 49%;
  border-radius: 12px;
}

.post-cards .card h2,
p {
  padding-bottom: 30px;
}

.row {
  background-color: #EDF7FA;
}

.center h1 {
  padding-top: 85px;
  font-size: 40px;
}

.works-1 {
  padding-top: 85px;
  padding-bottom: 30px;

}


.mind {
  padding-top: 100px;
  margin-bottom: 20px;
}

/* #row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
} */

/* @media screen and (max-width: 600px) {
  div#row {
    display: row;
  }
} */

.box1 h2 p {
  margin-top: 30px;
}

#typo {
  color: #8695A4;
}

#typo_1 {
  background-color: #142850;
  border-radius: 15px;
  color: #fff;
  padding: 3px 5px 3px 5px;
}

#typo_2 {
  background-color: #FF7C7C;
  border-radius: 15px;
  color: #fff;
  padding: 3px 5px 3px 5px;
}

/* .center {
  margin: auto;
  width: 72%;
  border: 3px solid #103ccc;
  padding: 10px;
} */
.center h3 {
  margin-bottom: 25px;
}

/* .center p {
  font-size: large;
} */
.center1 {
  margin: auto;
  width: 72%;
  border: 3px solid #f38b03;
  padding: 10px;
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
}

.center2 {
  margin: auto;
  width: 72%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.center3 {
  margin: auto;
  width: 54%;
  border: 3px solid #cc10aa;
  padding: 10px;
}

.center3 h3 {
  margin-top: 30px;
  margin-bottom: 25px;
}

.center3 p {
  margin-bottom: 35px;
  font-size: large;
}

#center3 {
  margin: auto;
  margin-top: 10%;
  padding: 10px;
}

#img_1 {
  float: left;
  margin-left: 0%;
  margin-right: 20px;
}


#img_2 {
  margin-left: 0px;
}

#img {
  width: 100%;
  height: auto;
}


/* body start */


/* footer start */
.icon {
  text-align: center;
  font-size: small;
  padding-bottom: 0px;
}

.icon_text {
  margin-top: 20px;
  text-align: center;
  font-size: small;
}


/* footer end */


@media screen and (max-width : 991px) {
  .content {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    order: 2;
  }

  .home {
    align-items: normal;
    height: auto;
    padding-top: 7rem;
    /* margin-bottom: 0rem; */
  }

  .hero-img {
    width: 100%;
    order: 1;
    justify-content: center;
  }

  .hero-img img {
    width: 400px;
  }




}

@media screen and (max-width : 767px) {
  .post-cards .card {
    margin-top: 10px;
    width: 100%;
  }

  .container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .post-title {
    justify-content: center;
  }

  #img_1 {
    width: 100%;
  }

  .row222 {
    display: none;
  }

}


@media screen and (max-width : 578px) {
  .btn-group {
    width: 50%;
  }

  .container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  #img_1 {
    width: 100%;
  }
}


@media only screen and (max-width: 426px) {
  .container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-group {
    width: 70%;
  }

}

@media only screen and (max-width: 321px) {
  .container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-group {
    width: 70%;
  }

}

/* @media only screen and (max-width: 743px) {
  body {
    background-color: rgb(8, 133, 175);
    margin: 0;
  }
}

@media only screen and (max-width: 743px) {
  body {
    div.content{ order: 2;}
    div.img1{order: 1;}
  }
} */

@media only screen and (max-width: 743px) {
  .content h2 {
    margin-top: 25px;
    text-align: center;

  }

  .content p {
    margin-top: 25px;
    text-align: center;
    font-size: large;

  }

  /* .center1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 80px;
  }

  .center1 {
    margin-top: 25%;
  }

  .center {
    width: 100%;
    text-align: start;
  }

  .center p {
    font-size: 10px;
  }

  .center2 {
    width: 100%;
  }

  .center2 {
    text-align: center;
  } */


}


@media only screen and (max-width: 426px) {

  /* body {
    background-color: rgb(175, 8, 169);
    
  } */
  .center1 {
    margin-top: 60%;
  }

  .center2 {
    text-align: center;
  }

  #img_1 {
    width: 100%;
  }

  .row222 {
    display: none;
  }

}